<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="/public/img/apple-icon.png">
<link rel="icon" type="image/png" href="/public/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title><%= typeof(title) === 'undefined' ? 'Home' : title %> | JTC docs</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="/public/css/material-kit.css?v=2.0.4" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/public/demo/demo.css" rel="stylesheet" />
