<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('base/head.html'); -%>
</head>
<body class="login-page sidebar-collapse">
  <%- include('base/navbar.html'); %>
  <div class="page-header header-filter" style="background-image: url('/public/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <!-- print error -->
            <form class="form" method="POST" action="#">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Register</h4>
              </div>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" name="fullname" placeholder="Full Name...">
                </div>
                <div class="input-group <%= (error && error.username) ? 'has-danger': '' %>">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" name="username" placeholder="Username...">
                  <% if (error && error.username) { %>
                    <div class="error"><%= error.username %></div>
                  <% } %>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email" name="email" class="form-control" placeholder="Email...">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" name="password" class="form-control" placeholder="Password...">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password...">
                </div>
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('base/footer.html'); %>
</body>
</html>