<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('base/head'); -%>
</head>
<body>
  <%- include('base/navbar'); %>
  <div class="container">
    <div class="row">
      <h2>
        <strong>Bootstrap input show password value By </strong>
        <a href="https://goo.gl/pR8ito" target="_blank">Nababur</a>
        <br/>
      </h2>
      <br/>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Start form --> 
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          </div>
          <div class="form-check">
            <button class="btn btn-info" type="button" name="showpassword" id="showpassword" value="Show Password">Show password</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        <!-- End form -->
      </div>
    </div>
  </div>
  <%- include('base/footer'); %>
</body>
</html>